
body { 
margin: 0;
font-family: 'Arial', sans-serif;
background-color: #ffe4e6; /* Light pink background */
color: #d14765; /* Darker pink text */ 
} 

header { 
text-align: center; 
padding: 20px; 
background-color: #f8b0ba; /* Medium pink */ 
color: white; 
font-family: 'Georgia', serif; 
font-size: 2.5em; 
} 

nav 
{ 
background-color: #f8b0ba; 
padding: 10px; 
} 

.dropdown-menu { 
list-style: none; 
display: flex; 
justify-content: center; 
padding: 0; 
margin: 0; 
} 

.dropdown-menu > li {
 position: relative; 
margin: 0 15px; 
} 

.dropdown-menu a { 
text-decoration: none; 
color: white;
font-weight: bold; 
padding: 5px10px; 
} 

.dropdown { 
display: none; 
position: absolute; 
top: 100%;
